:root {
    --primary: #DD946F ;
    --secondary: #261E5A;
    --primary-color: hsl(214, 84%, 56%);
    --text-color: hsl(0, 0%, 31%);
    --bg-color: hsl(0, 0%, 90%);
    --bg-card-color: hsl(0, 0%, 98%);
    --border-radius: 0.4em;
    --transition: color 0.1s, background-color 0.2s ease-in-out;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none; 
}

img {
    max-width: 100%;
    display:flex;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

body.dark {
    --text-color: hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 20%);
    
}
/* Media query para pantallas pequeñas (como móviles) */
@media (max-width: 768px) {
    body {
        background-color: var(--bg-color);
    }
}

/* Media query para pantallas muy pequeñas (como móviles en modo retrato) */
@media (max-width: 480px) {
    body {
        background-color: var(--bg-color);
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
    transition: background-color 0.3s ease-in-out;
}
.menu__bar {
    position:inherit;
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    flex-direction:column;
    padding-right: 1.5rem;
    gap: 2rem;
    background-color: var(--bg-card-color);
    height: 3.75rem;
    transition: var(--transition);
}
.navigation {    
    display: flex;
    flex-direction: row;
    list-style-type: none ;
    gap: 1rem;
    padding: auto;

    transition: var(--transition);
}
.navigation > li {
    display: flex;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    max-width: max-content;
    transition: var(--transition);
}
.navigation > li:hover {
    color: var(--primary-color);
}
.navigation > li::after {
    content: "";
    position: absolute;
    width: 100%;
    transform:scaleX(0);
    height: 0.125rem;
    
}

.switches {
    display: flex;
    align-items: center;
}

.toggle-theme {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-theme__icon {
    margin-right: 0.5em;
    width: 20px;
}

.toggle-theme__text {
    font-size: 0.8rem;
}

.colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100px;
}

.colors__item {
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors__item--blue { 
    --primary-color: hsl(214, 84%, 56%); 
}
.colors__item--green { 
    --primary-color: hsl(150, 84%, 56%); 
}
.colors__item--purple { 
    --primary-color: hsl(276, 84%, 56%); 
}
.colors__item--orange { 
    --primary-color: hsl(46, 84%, 56%); 
}

.title {
    text-align: center;
    color: var(--primary-color);
    transition: var(--transition);
}
/* aqui termina el Header */

/* inicia el main */



/* Estilo general para .main */
.main {
    display: grid;
    padding: 2em;
    gap: 1em;
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    grid-template-areas: 
        "left-aside"
        "middle"
        "right-aside";
}

/* Ajustes para pantallas grandes (mayores a 620px) */

@media screen and (min-width: 768px) {
    .main {
        grid-template-columns: 1fr 2fr 1fr; 
        grid-template-areas: 
            "left-aside middle right-aside"; 
    }
}









/* aqui termina la parte de proyectos */







  
.container-footer {
    text-align: center;
    width: 100%;
    padding: 40px;
    background:var(--bg-color);
    margin-top: 40px;
    position: relative;
    bottom: 0;

  }
  
  .container-footer footer {
    max-width: 1200px;
    margin: auto;
    text-align: center;
  }
  
  .container-footer footer .logo-footer {
    text-align: center;
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
  }
  
  .container-footer footer .logo-footer img {
    width: 100px; 
  }
  
  footer {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  
  .container-footer footer .redes-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .container-footer footer .redes-footer .icon-redes {
    font-size: 30px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
  }
  
  footer .redes-footer .fa-linkedin-in:hover {
    background: #0e76a8;
    color: #fff;
  }
  
  footer .redes-footer .fa-github:hover {
    background: #000;
    color: #fff;
  }
  
  footer .redes-footer .fa-whatsapp:hover {
    background: #25d366;
    color: #fff;
  }
  
  .container-footer footer hr {
    border: 1px solid #a2a2a2;
  }
  
  .container-footer h4 {
    text-align: center;
    color: #a2a2a2;
    margin-top: 20px;
  }

  .icon-redes {
    transition: transform 0.3s ease;
  }
  .icon-redes:hover {
    transform: scale(1.2);
  }
  