:root {
    --primary-color: hsl(214, 84%, 56%);
    --text-color: hsl(0, 0%, 31%);
    --bg-color: hsl(0, 0%, 90%);
    --bg-card-color: hsl(0, 0%, 98%);
    --border-radius: 0.4em;
    --transition: color 0.1s, background-color 0.2s ease-in-out;

}

* {
    box-sizing: border-box;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    display: flex;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
    font-family: sans-serif;
}

body.dark {
    --text-color: hsl(0, 0%, 83%);
    --bg-color: hsl(0, 0%, 15%);
    --bg-card-color: hsl(0, 0%, 20%);

}

/* Media query para pantallas pequeñas (como móviles) */
@media (max-width: 768px) {
    body {
        background-color: var(--bg-color);
    }
}

/* Media query para pantallas muy pequeñas (como móviles en modo retrato) */
@media (max-width: 480px) {
    body {
        background-color: var(--bg-color);
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-card-color);
    transition: background-color 0.3s ease-in-out;
}

/*.menu__bar {
    position: inherit;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 1.5rem;
    gap: 2rem;
    background-color: var(--bg-card-color);
    height: 3.75rem;
    transition: var(--transition);
}*/

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    padding: auto;
    background-color: var(--bg-card-color);
    transition: var(--transition);
}

.navigation>li {
    display: flex;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    max-width: max-content;
    transition: var(--transition);
}

.navigation>li:hover {
    color: var(--primary-color);
}

.navigation>li::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.125rem;
    background-color: var(--primary-color);
}

.switches {
    display:contents;
    align-items:center;
    gap: 1rem;
}

.toggle-theme {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-theme__icon {
    margin-right: 0.5em;
    width: 20px;
}

.toggle-theme__text {
    font-size: 0.8rem;
}

.colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100px;
}

.colors__item {
    width: 20px;
    height: 20px;
    border: 1px solid var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
}

.colors__item--blue {
    --primary-color: hsl(214, 84%, 56%);
}

.colors__item--green {
    --primary-color: hsl(150, 84%, 56%);
}

.colors__item--purple {
    --primary-color: hsl(276, 84%, 56%);
}

.colors__item--orange {
    --primary-color: hsl(46, 84%, 56%);
}

.title {
    text-align: center;
    color: var(--primary-color);
    transition: var(--transition);
}

/* Estilo general para .main */
.main {
    display: grid;
    padding: 2em;
    gap: 1em;
    grid-template-columns: 1fr;
    /* Una sola columna en pantallas pequeñas */
    grid-template-areas:
        "left-aside"
        "middle"
        "right-aside";
}

/* Contenedor de la imagen */
.card__image--profile {
    border-radius: 5%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--primary-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Imagen dentro del contenedor */
.card__image--profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Ajustes para pantallas grandes (mayores a 620px) */

@media screen and (min-width: 768px) {
    .main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "left-aside middle right-aside";
    }
}

/* Tres columnas */
/* Distribución izquierda, centro, derecha */
/* Estilos para la columna izquierda */
.column--left {
    grid-area: left-aside;
    display: grid;
    gap: 1em;
}

/* Estilos para la columna central */
.column--middle {
    grid-area: middle;
}

/* Estilos para la columna derecha */
.column--right {
    grid-area: right-aside;
    display: grid;
    gap: 1em;
}

/* Estilos para las tarjetas dentro de las columnas */
.card {
    padding: 1em;
    background-color: var(--bg-card-color);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    display: block;
    /* Asegúrate de que no se use inline-block */
    width: auto;
    /* Asegura que se ajuste al contenido */
    height: auto;
    /* Permite que la altura se ajuste automáticamente */
    max-width: 100%;
    /* Evita que se desborde */

}

.read-more {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
}

/* Estilos para los elementos de las skills */
.skills__bar {
    height: 8px;
    border-radius: 5px;
    background-color: #ddd;
    transition: width 0.3s ease;
}

.skills__bar--30 {
    width: 30%;
    background-color: #4CAF50;
}

.skills__bar--40 {
    width: 40%;
    background-color: #2196F3;
}

.skills__bar--50 {
    width: 50%;
    background-color: #FF9800;
}

.skills__bar--70 {
    width: 70%;
    background-color: #f44336;
}


/* Hacer las imágenes responsivas dentro de las tarjetas */
.card__image-container {
    min-width: 250px;
    /* Aumentar el tamaño mínimo */
    max-width: 150px;
    /* Ajuste el tamaño máximo para no hacerlas demasiado grandes */
    border-radius: var(--border-radius);
    /* Mantiene el borde redondeado */
    overflow: hidden;
    /* Asegura que la imagen no se salga del contenedor */
    width: 100%;
    /* Usa el 100% del contenedor para ser responsivo */
    height: auto;
    /* Permite que la altura sea proporcional */
    display: flex;
    /* Flexbox para que las imágenes se mantengan alineadas correctamente */
    justify-content: center;
    /* Centra la imagen dentro del contenedor */
    align-items: flex-start;
    /* Centra la imagen en el eje vertical */
}

.card__image {
    height: auto;
    /* Mantiene la proporción de la imagen */
    object-fit: cover;
    /* Hace que la imagen cubra el espacio sin deformarse */
}


/* Títulos de las tarjetas */
.card__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.card__title--skills {
    position: relative;
}

/* Estilo para los enlaces de las tarjetas */
.card__link {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.card__link a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Estilos para el selector de color */
.colors {
    display: flex;
    gap: 0.5em;
}

/* Ajuste para las imágenes de las banderas */
.flags__item img {
    width: 30px;
    height: auto;
}

/* Estilo para el switch de tema */
.toggle-theme {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.toggle-theme__icon {
    width: 20px;
    height: auto;
}

.toggle-theme__text {
    font-size: 1rem;
}

.card__header {
    padding: 1em 0;
}

.card__title {
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.card__subtitle {
    font-size: 0.9rem;
    opacity: 0.8;
}

.card__link {
    margin-bottom: 0.5em;
}

.card__text {
    font-size: 0.9rem;
    line-height: 1.6;
}

.skills {
    padding: 1em 0;
}

.skills__header {
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-left: auto;
}

.skills__tech {
    margin: 0;
    font-size: 0.8rem;
}

.skills__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.skills__bar {
    position: relative;
    width: 100px;
    height: 8px;
    background-color: #888;
    border-radius: var(--border-radius);
    overflow: hidden;
    max-width: 175px;
    /* Un límite razonable */
}

.skills__bar::after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    height: 100%;
    transition: width 0.3s ease-in-out;
}

.skills__bar--10::after {
    width: 05%;
}

.skills__bar--20::after {
    width: 10%;
}

.skills__bar--30::after {
    width: 20%;
}

.skills__bar--40::after {
    width: 30%;
}

.skills__bar--50::after {
    width: 40%;
}

.skills__bar--60::after {
    width: 50%;
}

.skills__bar--70::after {
    width: 60%;
}

.skills__bar--80::after {
    width: 70%;
}

.skills__bar--90::after {
    width: 80%;
}

.skills__bar--100::after {
    width: 90%;
}

.experience {
    display: flex;
    align-items: start;
    margin-bottom: 1em;
    padding: 1em;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.icon {
    margin-right: 1em;
}

.experience__image {
    max-width: 15%;
    margin-right: 1em;
}

.experiencie__time {
    font-size: 0.8rem;
    margin-bottom: 0.5em;
}

.experience__job {
    margin: 0;
    margin-bottom: 0.5em;
    color: var(--primary-color);
    transition: var(--transition);
}

.experience__description {
    font-size: 1em;
    margin-bottom: 1.5em;
}

/* 
@media screen and (min-width: 760px) {
  .project{
    margin-left: 2em;
  }
}
 */
.project {
    position: relative;
}

.project__tags {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0;
    font-size: 0.6rem;
    width: 275px;
}

/* 
@media screen and (min-width: 768px) {
    .project__tags{
        width: 325px;
        font-size: 0.8rem;
    }
}
*/
.project__tag {
    padding: 0.4em 0.8em;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 225px;
}

/*
@media screen and (min-width: 768px) {
    .buttons{
        position: absolute;
        bottom: 1em;
    }
}
*/
.button {
    width: 100px;
    line-height: 2.5;
    text-align: center;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.button--primary {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.button--ghost {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/*
@media screen and (min-width: 768px) {
    .project__tags{
        width: 325px;
        font-size: 0.8rem;
    }
}
*/


@keyframes skills-bar-fill {
    to {
        transform: translateX(var(--skill-bar-length));
    }
}

.no-margin {
    margin: 0;
}

@keyframes skills-bar-fill {
    to {
        transform: translateX(var(--skill-bar-length));
    }
}

/* Contenedor de las tecnologías */
.technologies {
    display: flex;
    /* Utilizamos flexbox para organizar los íconos en línea */
    justify-content: center;
    /* Centra los íconos horizontalmente */
    align-items: center;
    /* Centra los íconos verticalmente */
    gap: 20px;
    /* Espacio entre los íconos */
    flex-wrap: wrap;
    /* Permite que los íconos se acomoden en una nueva fila si el espacio es insuficiente */
    padding: 20px;
    /* Espaciado interno alrededor del contenedor */
}

/* Estilo para cada imagen (ícono) */
.technologies img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Efecto de hover para los íconos */
.technologies img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* Adaptabilidad a pantallas más pequeñas */
@media (max-width: 768px) {
    .technologies {
        gap: 15px;
    }

    .technologies img {
        width: 40px;
        height: 40px;
    }
}



.container-footer {
    text-align: center;
    width: 100%;
    padding: 40px;
    background: var(--bg-color);
    margin-top: 40px;
    position: relative;
    bottom: 0;

}

.container-footer footer {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.container-footer footer .logo-footer {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer1 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* esto fue lo que puso el logo en el centro*/
}

.container-footer footer .logo-footer img {
    width: 100px;
}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
}


.container-footer footer .redes-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes {
    font-size: 30px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer .fa-linkedin-in:hover {
    background: #0e76a8;
    color: #fff;
}

footer .redes-footer .fa-github:hover {
    background: #000;
    color: #fff;
}

footer .redes-footer .fa-twitch:hover {
    background: #6441a5;
    color: #fff;
}

.container-footer footer hr {
    border: 1px solid #a2a2a2;
}

.container-footer h4 {
    text-align: center;
    color: #a2a2a2;
    margin-top: 20px;
}


column--center {
    align-items: center;
}

/* Nueva sección con ancho completo */
section.column--fullwidth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background-color: var(--bg-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Tarjetas dentro de la columna de ancho completo */
.card--project {
    width: 90%;
    max-width: 1200px;
    margin: 20px 0;
}



/* Centrar el artículo y su contenido */
.project1 {
    display: flex;
    /* Usamos Flexbox para centrar */
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    margin: 40px 0;
    /* Agrega margen superior e inferior */
}

/* Estilo para el título dentro del artículo */
.titlep {
    font-size: 2em;
    /* Tamaño de fuente adecuado */
    font-weight: bold;
    /* Hacer el título más destacado */
    text-align: center;
    /* Asegura que el texto esté centrado */
    color: var(--link-color);
    /* Color oscuro para buen contraste */
}












/* Estilo para la sección de contacto */
.contact-section {
    padding: 50px 20px;
    background-color: var(--bg-color);
    text-align: center;
}

.contact-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.contact-section p {
    font-size: 1.1rem;
    color: var(--primary-color);
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Contenedor de tarjetas de contacto */
.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

/* Estilo para cada tarjeta de contacto */
.contact-card {
    background-color: var(--bg-card-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.contact-card h3 {
    font-size: 1.5rem;
    margin-top: 15px;
    color: var(--primary-color);
}

.contact-card a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: inherit;
}

/* Estilo de los iconos */
.contact-icon {
    font-size: 2.5rem;
    color: var(--link-color);
    transition: color 0.3s ease;
}

.contact-card:hover .contact-icon {
    color: #007bb5;
}

/* Estilo responsivo para móviles */
@media (max-width: 768px) {
    .contact-section h2 {
        font-size: 2rem;
    }

    .contact-section p {
        font-size: 1rem;
    }

    .contact-card {
        max-width: 100%;
        padding: 20px;
    }
}


/* Estilo específico para iPhone 13 Pro en vertical */
@media screen and (max-width: 390px) and (max-height: 844px) {
    .contact-card {
        padding: 10px;
        margin: 10px;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .header {
        display: flex;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }
}